@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}


body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-family: poppins;
  overflow-y: auto;
}
#title{
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  
}

/*Navigation bar section*/
.navbar{
  margin-top: 0px;
  padding-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar > a{
  color: #fff;
  font-size: 3.5rem;
  text-decoration: none;
  text-align: left;
}
.navbar ul{
  list-style: none;
  display: flex;
  gap: 25px;
}
.navbar ul li{
  color: dimgray;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  filter:opacity(.3);
  font-weight: 800;
}
.navbar > ul > li > a:hover{
  color: #fff;
}
/*Title page with iphone inside of dog selfie image*/
.download-btn{
  padding: 16px 40px;
  border-radius: 5px;
  border: none;
  background-color: rgba(20,30,40,0.85);
  color: #fff;
  font-size: 1.5rem;
  margin: 0px 5px;
}
.first-btn:hover{
  background-color: black;
  transition: 500ms;
}
.second-btn{
  background:none;
  border: 1px solid white;
}
.second-btn:hover{
  background-color: #fff;
  color: black;
  transition: 500ms;
}

.title-content > h2{
  color: #fff;
  font-weight: 800;
  font-size: 4.5rem;
}
.title-container{
  display: flex;
  margin: 0px 270px;
  margin-top: 70px;
}
.title-container > img{
  padding: 5px;
  padding-top: 10px;
  transform: rotate(30deg) translateY(50px) translateX(-100px);
  z-index: 0;
}

/* features section*/
#features{
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin:100px 270px;
  z-index: 999;
  background-color: #fff;
}
.feature-container > svg{
  height: 100px;
  color: #ff4c68;
}
.feature-container{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}
.feature-container > h2{
  font-size: 3rem;
  font-weight: 600;
}
.feature-container > p{
  font-size: 1.6rem;
  opacity: 0.7;
}

/* slide show above the content*/
#testimonial{
  background-color: #ef8172;
  height: 800px;
  margin-top: 70px;
}
.slide-container{
  margin: 130px 270px;
}

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

}
.slides > h2{
  font-size: 2.5rem;
  text-align: center;
  color: rgba(20,30,40,0.85);
}
.slide-img{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #fff;
}
.slide-img > img{
  border-radius: 50%;
}
.slide-img > p{
  font-size: 1.4rem;
}
.slide2{
  display: none;
}

.slide-button{
  padding: 5px;
}

/* #prevbtn{
  top:-100px;
  left: -50px;
}
#nextbtn{
  right: -50px;
  top: -100px;
} */


/* img container section on slide show*/
.img-container{
  display: flex;
  gap: 70px;
  justify-content: center;
  align-content: center;
}
.img-container > img{
  height: 100px;
}




#techcrunch{
  height: 50px;
}
#bussiness{
  height: 50px;
}
#mashable{
  height: 50px;
}

#pricing > h2{
  font-size: 3.4rem;
  font-weight: 600;
  text-align: center;
}
#pricing > p{
  font-size: 1.6rem;
  text-align: center;
}
.pricing-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.price-item{
  border: 1px solid black;
  padding: 0px 100px;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 50px;
}
.pricing-head{
  font-size: 3rem;
  font-weight: 500;
}
.pricing-inner > h2{
  font-size: 2.4rem;
}
.pricing-inner > p{
  font-size: 1.4rem;
}
.signup-btns{
  padding: 15px 30px;
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  border: 1px solid black;
  color: rgba(20,30,40,0.85);
}
#Chihuahua-btn:hover{
  color: #fff;
  background-color: #000;
}
#Labrador-btn, #Mastiff-btn{
  color: #fff;
  background-color: rgba(20,30,40,0.9);
}
#Labrador-btn:hover, #Mastiff-btn:hover{
  background-color: #000;
}
#download{
  background-color: #ff4c68;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  margin-top: 200px;
}
#download > h1{
  font-size: 5rem;
  text-align: center;
  margin: 0px 270px;
  font-weight: 600;
  color: #fff;
}
.item-3{
  padding-bottom: 50px;
}


/* footer items*/

.footer{
  margin:100px 0px;
  height: 600px;
}
.social{
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
}
.social > a > svg{
  font-size: 1.5rem;
  height: 50px;
  color: black;
} 
#twitter svg:hover{
  color: #fff;
  background-color: rgba(20,30,40,0.9);
}
#facebook svg:hover{
  background-color: rgba(20,30,40,0.9);
  color: #fff;
}
#instagram svg:hover{
  color: #fff;
  background-color: rgba(20,30,40,0.9);
}
#mail svg:hover{
  color: #fff;
  background-color: rgba(20,30,40,0.9);
}

.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.copyright > p{
  font-size: 1.3rem;
  color: rgba(20,30,40,0.9);
}


/*Responsive system on 1200px device*/
@media (max-width:1200px){
  body{
    width: 100%;
  }
  .download-btn{
    padding: 12px 30px;
    font-size: 1.4rem;
    margin: 0px 4px;
  }
  .title-content > h2{
    font-size: 3.2rem;
  }
  .title-container{
    display: flex;
    margin: 0px 203px;
    margin-top: 52px;
  }
  .title-container > img{
    padding: 4px;
    padding-top: 8px;
    transform: rotate(25deg) translateY(40px) translateX(-10px);
    height: 24%;
    width: 24%;
  }
  /* features section*/
  #features{
    gap: 6px;
    margin:60px 203px;
    display: flex;
    flex-direction: column;
  }
  .feature-container > svg{
    height: 70px;
  }
  .feature-container > h2{
    font-size: 2.4rem;
    font-weight: 600;
  }
  .feature-container > p{
    font-size: 1.4rem;
    opacity: 0.7;
  }

  #testimonial{
    height: 800px;
    margin-top: 50px;
  }
  .slide-container{
    margin: 100px 203px;
  }
  .slider{
    padding-top: 60px;
  }
  .slides > h2{
    font-size: 2.2rem;
  }
  .slide-img{
    gap: 15px;
  }
  .slide-img > p{
    font-size: 1.3rem;
  }
  .slide-button{
    padding: 4px;
  }
  .img-container{
    gap: 40px;
    padding-top: 40px;
  }
  .img-container > img{
    height: 60px;
  }

  /* brand images*/
  #techcrunch{
    height: 40px;
  }
  #bussiness{
    height: 40px;
  }
  #mashable{
    height: 40px;
  }
  /*pricing container*/
  #pricing > h2{
    font-size: 3rem;
  }
  #pricing > p{
    font-size: 1.4rem;
  }
  .pricing-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .price-item{
    padding: 0px 30px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 40px;
  }
  .pricing-head{
    font-size: 2.5rem;
  }
  .pricing-inner > h2{
    font-size: 2rem;
  }
  .pricing-inner > p{
    font-size: 1.3rem;
  }
  .signup-btns{
    padding: 12px 25px;
    font-size: 1.4rem;
  }
  /*download section*/
  #download{
    min-height: 500px;
    margin: 80px 0px;
    margin-top: 150px;
  }
  #download > h1{
    font-size: 3.5rem;
    margin: 0px 203px;
  }
  .item-3{
    padding-bottom: 40px;
  }
  /* footer items*/
  .footer{
    margin:80px 0px;
    height: 500px;
  }
  .social{
    gap: 50px;
  }
  .social > a > svg{
    height: 40px;
  } 
  .copyright > p{
    font-size: 1.25rem;
  }
}

/* Responsive on 681x to 900px*/
@media (min-width:681px) and (max-width:900px){
  body{
    width: 100%;
  }
  .title-container > img{
    transform: rotate(0deg) translateX(0deg) translateY(0deg);
  }
  .download-btn{
    padding: 8px 25px;
    font-size: 1.3rem;
    margin: 0px 3px;
    gap: 50px;
  }
  .title-content > h2{
    font-size: 3rem;
  }
  .title-container{
    display: flex;
    flex-direction: column;
    margin: 0px 140px;
    margin-top: 35px;
  }
  .title-container > img{
    padding: 4px;
    padding-top: 50px;
    padding-bottom: 50px;
    transform: rotate(0deg) translateY(0px) translateX(0px);
    height: 50%;
    width: 50%;
    margin-left: 100px;
  }
  /* features section*/
  #features{
    gap: 6px;
    margin:60px 140px;
    display: flex;
    flex-direction: column;
  }
  .feature-container > svg{
    height: 60px;
  }
  .feature-container > h2{
    font-size: 1.8rem;
    font-weight: 600;
  }
  .feature-container > p{
    font-size: 1.3rem;
    opacity: 0.7;
  }
  #testimonial{
    height: 800px;
    margin-top: 40px;
  }
  .slide-container{
    margin: 80px 140px;
  }
  .slider{
    padding-top: 50px;
  }
  .slides > h2{
    font-size: 2rem;
  }
  .slide-img{
    gap: 12px;
  }
  .slide-img > p{
    font-size: 1.25rem;
  }
  .slide-button{
    padding: 4px;
  }
  .img-container{
    gap: 20px;
    padding-top: 30px;
  }
  .img-container > img{
    height: 50px;
  }

  /* brand images*/
  #techcrunch{
    height: 30px;
  }
  #bussiness{
    height: 30px;
  }
  #mashable{
    height: 30px;
  }
  /*pricing container*/
  #pricing > h2{
    font-size: 2.6rem;
  }
  #pricing > p{
    font-size: 1.25rem;
  }
  .pricing-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
  }
  .price-item{
    padding: 0px 20px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 40px;
  }
  .pricing-head{
    font-size: 2.3rem;
  }
  .pricing-inner > h2{
    font-size: 1.8rem;
  }
  .pricing-inner > p{
    font-size: 1.25rem;
  }
  .signup-btns{
    padding: 10px 20px;
    font-size: 1.3rem;
  }
  .item-1{
    padding: 0px 70px;
    padding-bottom: 20px;
  }
  .item-2{
    padding: 0px 70px;
    padding-bottom: 20px;
  }
  /*download section*/
  #download{
    min-height: 500px;
    margin: 60px 0px;
    margin-top: 150px;
    display: flex;
    gap: 50px;
    flex-direction: column;
  }
  #download > h1{
    font-size: 3.2rem;
    margin: 0px 140px;
  }

  /* footer items*/
  .footer{
    margin:60px 0px;
    height: 500px;
  }
  .social{
    gap: 40px;
  }
  .social > a > svg{
    height: 32px;
  } 
  .copyright > p{
    font-size: 1.2rem;
  }
}

/* Responsive on 320x to 680px*/
@media (min-width:320px) and (max-width:680px){
  body{
    width: 100%;
  }
  .navbar > a{
    font-size: 2.4rem;
  }
  .navbar ul{
    display: flex;
    gap: 15px;
  }
  .navbar ul li a{
    font-size: 1.4rem;
  }
  
  .title-container > img{
    transform: rotate(0deg) translateX(0deg) translateY(0deg);
  }
  .download-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 22px;
    font-size: 1.3rem;
    margin: 0px 3px;
    margin-left: 170px;
  }
  .second-btn{
    margin-top: 10px;
  }
  .title-content > h2{
    font-size: 2.7rem;
    text-align: center;
  }
  .title-container{
    display: flex;
    flex-direction: column;
    margin: 0px 73px;
    margin-top: 35px;
  }
  .title-container > img{
    padding: 4px;
    padding-top: 50px;
    padding-bottom: 50px;
    transform: rotate(0deg) translateY(0px) translateX(0px);
    height: 50%;
    width: 50%;
    margin-left: 120px;
  }
  /* features section*/
  #features{
    gap: 6px;
    margin:60px 73px;
    display: flex;
    flex-direction: column;
  }
  .feature-container > svg{
    height: 60px;
  }
  .feature-container > h2{
    font-size: 1.5rem;
    font-weight: 600;
  }
  .feature-container > p{
    font-size: 1.25rem;
    opacity: 0.7;
  }
  #testimonial{
    height: 800px;
    margin-top: 40px;
  }
  .slide-container{
    margin: 80px 73px;
  }
  .slider{
    padding-top: 50px;
  }
  .slides > h2{
    font-size: 2rem;
  }
  .slide-img{
    gap: 10px;
  }
  .slide-img > p{
    font-size: 1.2rem;
  }
  .slide-button{
    padding: 4px;
  }
  .img-container{
    gap: 15px;
    padding-top: 30px;
  }
  .img-container > img{
    height: 40px;
  }

  /* brand images*/
  #techcrunch{
    height: 27px;
  }
  #bussiness{
    height: 27px;
  }
  #mashable{
    height: 25px;
  }
  /*pricing container*/
  #pricing > h2{
    font-size: 2.4rem;
  }
  #pricing > p{
    font-size: 1.2rem;
  }
  .pricing-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
  }
  .price-item{
    padding: 0px 20px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 40px;
  }
  .pricing-head{
    font-size: 2.2rem;
  }
  .pricing-inner > h2{
    font-size: 1.7rem;
  }
  .pricing-inner > p{
    font-size: 1.22rem;
  }
  .signup-btns{
    padding: 9px 18px;
    font-size: 1.25rem;
  }
  .item-1{
    padding: 0px 70px;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  .item-2{
    padding: 0px 70px;
    padding-bottom: 20px;
  }
  /*download section*/
  #download{
    min-height: 500px;
    margin: 60px 0px;
    margin-top: 150px;
    display: flex;
    gap: 50px;
    flex-direction: column;
  }
  #download > h1{
    font-size: 3rem;
    margin: 0px 73px;
  }
  .download-btn{
    margin-left: 45px;
  }
  /* footer items*/
  .footer{
    margin:50px 0px;
    margin-bottom: 30px;
    height: 500px;
  }
  .social{
    gap: 30px;
  }
  .social > a > svg{
    height: 30px;
  } 
  .copyright > p{
    font-size: 1.2rem;
  }
}
@media (min-width:1201px) and (max-width:1400px){
  body{
    width: 100%;
  }
  .download-btn{
    padding: 12px 30px;
    font-size: 1.5rem;
    margin: 0px 5px;
  }
  .title-content > h2{
    font-size: 3.5rem;
  }
  .title-container{
    display: flex;
    margin: 150px 240px;
    margin-top: 60px;
  }
  .title-container > img{
    padding: 4px;
    padding-top: 8px;
    transform: rotate(25deg) translateY(40px) translateX(0px);
    height: 35%;
    width: 35%;
  }
  /* features section*/
  #features{
    gap: 6px;
    margin:60px 240px;
  }
  .feature-container > svg{
    height: 80px;
  }
  .feature-container > h2{
    font-size: 2.7rem;
    font-weight: 600;
  }
  .feature-container > p{
    font-size: 1.5rem;
    opacity: 0.7;
  }
  #testimonial{
    height: 800px;
    margin-top: 60px;
  }
  .slide-container{
    margin: 100px 240px;
  }
  .slider{
    padding-top: 60px;
  }
  .slides > h2{
    font-size: 2.5rem;
  }
  .slide-img{
    gap: 30px;
  }
  .slide-img > p{
    font-size: 1.5rem;
  }
  .slide-button{
    padding: 4px;
  }
  .img-container{
    gap: 45px;
    padding-top: 40px;
  }
  .img-container > img{
    height: 70px;
  }

  /* brand images*/
  #techcrunch{
    height: 50px;
  }
  #bussiness{
    height: 50px;
  }
  #mashable{
    height: 45px;
  }
  /*pricing container*/
  #pricing > h2{
    font-size: 3.5rem;
  }
  #pricing > p{
    font-size: 1.7rem;
  }
  .pricing-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .price-item{
    padding: 0px 40px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 40px;
  }
  .pricing-head{
    font-size: 2.7rem;
  }
  .pricing-inner > h2{
    font-size: 2.2rem;
  }
  .pricing-inner > p{
    font-size: 1.5rem;
  }
  .signup-btns{
    padding: 12px 30px;
    font-size: 1.5rem;
  }
  /*download section*/
  #download{
    min-height: 600px;
    margin: 90px 0px;
    margin-top: 150px;
  }
  #download > h1{
    font-size: 4rem;
    margin: 0px 240px;
  }
  .item-3{
    padding-bottom: 40px;
  }
  /* footer items*/
  .footer{
    margin:90px 0px;
    height: 600px;
  }
  .social{
    gap: 60px;
  }
  .social > a > svg{
    height: 50px;
  } 
  .copyright > p{
    font-size: 1.4rem;
  }
}
